# DV2 Assignment - ETL II

In [1]:
import pandas as pd

# Add Region to 'dfDwellUnits.csv'

In [2]:
df = pd.read_csv('dfDwellUnits.csv')

print(df.shape)
print(df.head(3))

(1256, 4)
   Year        Town Dwelling_Type  num_DwellUnits
0  2008  Ang Mo Kio       1rm_2rm            4811
1  2008       Bedok       1rm_2rm            4205
2  2008      Bishan       1rm_2rm             396

In [3]:
# convert Year to datetime object

# df['Date'] = pd.to_datetime(df.Date, format='%Y-%m-%d %H:%M:%S')
df.Year = pd.to_datetime(df['Year'], format='%Y')
display(df.head(3))
display(df.dtypes)

        Year        Town Dwelling_Type  num_DwellUnits
0 2008-01-01  Ang Mo Kio       1rm_2rm            4811
1 2008-01-01       Bedok       1rm_2rm            4205
2 2008-01-01      Bishan       1rm_2rm             396

Year              datetime64[ns]
Town                      object
Dwelling_Type             object
num_DwellUnits             int64
dtype: object

In [4]:
dfRegions = pd.read_csv('dfRegions.csv')
display(dfRegions.head(2))
display(dfRegions.dtypes)

           region planning_area
0  Central Region        Bishan
1  Central Region   Bukit Merah

region           object
planning_area    object
dtype: object

In [5]:
df['Region'] = df.Town.apply(lambda x: dfRegions[dfRegions.planning_area == x].region.values[0] )

df = df[['Year', 'Region','Town', 'Dwelling_Type', 'num_DwellUnits']]
df.sort_values(by=['Year','Region','Town','Dwelling_Type'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(5)

df.to_csv('dfDwellUnits.csv', index=False)

In [6]:
del df
del dfRegions

# Add Region to 'dfHDB_ResidentAge.csv'

In [7]:
dfRegions = pd.read_csv('dfRegions.csv')

df = pd.read_csv('dfHDB_ResidentAge.csv')
print(df.shape)
print(df.head(3))

(8470, 4)
   Year        Town   Age Grp  Num_Residents
0  2000  Ang Mo Kio  00 to 04           9296
1  2000       Bedok  00 to 04          16247
2  2000      Bishan  00 to 04           5311

In [8]:
df.Year = pd.to_datetime(df['Year'], format='%Y')
display(df.head(3))
display(df.dtypes)

        Year        Town   Age Grp  Num_Residents
0 2000-01-01  Ang Mo Kio  00 to 04           9296
1 2000-01-01       Bedok  00 to 04          16247
2 2000-01-01      Bishan  00 to 04           5311

Year             datetime64[ns]
Town                     object
Age Grp                  object
Num_Residents             int64
dtype: object

In [9]:
df['Region'] = df.Town.apply(lambda x: dfRegions[dfRegions.planning_area == x].region.values[0] )

df = df[['Year', 'Region','Town', 'Age Grp', 'Num_Residents']]
df.sort_values(by=['Year','Region','Town','Age Grp'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(5)

df.to_csv('dfHDB_ResidentAge.csv', index=False)

In [10]:
del df
del dfRegions

# Convert dfHDB_ElecCons.csv 'Year' to datetime object
easier for Tableau to pick up as a date

In [11]:
df = pd.read_csv('dfHDB_ElecCons.csv')
print(df.shape)
print(df.head(3))
print()
print(df.dtypes)

(1740, 6)
   Year          Region    Town Dwell_Type  AveMthly_kwh  Total_kwh
0  2005  Central Region  Bishan    1rm_2rm         108.2     1298.4
1  2005  Central Region  Bishan        3rm         262.4     3148.8
2  2005  Central Region  Bishan        4rm         399.9     4798.8

Year              int64
Region           object
Town             object
Dwell_Type       object
AveMthly_kwh    float64
Total_kwh       float64
dtype: object

In [12]:
df.Year = pd.to_datetime(df['Year'], format='%Y')
display(df.head(3))
display(df.dtypes)

        Year          Region    Town Dwell_Type  AveMthly_kwh  Total_kwh
0 2005-01-01  Central Region  Bishan    1rm_2rm         108.2     1298.4
1 2005-01-01  Central Region  Bishan        3rm         262.4     3148.8
2 2005-01-01  Central Region  Bishan        4rm         399.9     4798.8

Year            datetime64[ns]
Region                  object
Town                    object
Dwell_Type              object
AveMthly_kwh           float64
Total_kwh              float64
dtype: object

In [13]:
df.to_csv('dfHDB_ElecCons.csv',index=False)
del df